<svg
  *ngIf="hasPoints"
  [attr.viewBox]="viewBox"
  [attr.width]="width"
  [attr.height]="height"
  preserveAspectRatio="none"
  class="sparkline-svg"
>
  <polyline
    fill="none"
    [attr.stroke]="stroke"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    [attr.points]="points"
  />
  <line
    *ngIf="thresholdY !== null"
    x1="0"
    [attr.y1]="thresholdY"
    [attr.x2]="width"
    [attr.y2]="thresholdY"
    stroke="rgba(255,255,255,0.2)"
    stroke-width="1"
    stroke-dasharray="2,2"
  />
</svg>
